# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
flower

# source distributions
graphfactories-sources.tar.gz
graphfactories-sources.zip

# NetBeans folder
nbproject/
